* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'proxima-r';
    src: url('./fonts/proximanova_regular.ttf');
}

@font-face {
    font-family: 'pixel-b';
    src: url('./fonts/pixel-ultima-bold.ttf');
}

@font-face {
    font-family: 'inter-r';
    src: url('./fonts/Inter-Regular.ttf');
}

a {
    text-decoration: none;
}

p {
    margin-bottom: 0;
}

body {
    overflow-x: hidden;
}

.container {
    width: 72.71vw;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.top_section {
    background: url('./img/main.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 46.72vw;
    width: 100vw;
}

.header {
    padding: 1.15vw 0;
    margin-bottom: 5.94vw;
}

.header_container {
    position: relative;
    align-items: center;
    justify-content: center;
    gap: 2.08vw;
}

.logo {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 3.13vw;
    height: 3.13vw;
    left: 0;
}

.inter-r {
    font-family: 'inter-r';
    font-weight: 400;
}

.font-24 {
    font-size: 1.25vw;
}

.font-60 {
    font-size: 3.13vw;
}

.font-32 {
    font-size: 1.67vw;
}

.font-28 {
    font-size: 1.46vw;
}

.font-20 {
    font-size: 1.04vw;
}

.font-36 {
    font-size: 1.88vw;
}

.font-72 {
    font-size: 3.75vw;
}

.lh-36 {
    line-height: 1.88vw;
}

.black-font {
    color: black;
}

.white-font {
    color: #fff;
}

.lh-28 {
    line-height: 1.46vw;
}

.lh-60 {
    line-height: 3.13vw;
}

.lh-24 {
    line-height: 1.25vw;
}

.lh-72 {
    line-height: 3.75vw;
}

.mt-20 {
    margin-top: 1.04vw;
}

.proxima-r {
    font-family: 'proxima-r';
    font-weight: 400;
}

.header_btn {
    background: url('./img/header_btn.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0.73vw 1.66vw;
    border: none;
}

.pixel-b {
    font-family: 'pixel-b';
    font-weight: 700;
}

.font-66 {
    font-size: 3.44vw;
    line-height: 3.44vw;
}

.header_main {
    text-transform: uppercase;
}

.main_btn {
    border: none;
    background: url('./img/main_btn.png');
    background-size: contain;
    margin-top: 1.67vw;
    margin-bottom: 2.71vw;
    padding: 1.30vw 8.54vw;
    background-repeat: round;
}

.row_btn {
    border-radius: 50%;
    background: #333336;
    width: 3.33vw;
    height: 3.33vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.row_btn img {
    height: 1.04vw;
    width: 1.77vw;
}

.home_section {
    background: #000;
}

.short_info {
    display: flex;
    justify-content: space-between;
    padding-top:  6.25vw;
    margin-bottom: 9.38vw;
    align-items: start;
}

.short_info p {
    max-width: 50%;
}

.difference {
    margin-bottom: 9.38vw;
}

.difference_dropdowns {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.67vw;
    gap: 1.04vw;
}

.difference-left,
.difference-right {
    display: flex;
    flex-direction: column;
    gap: 1.04vw;
}

.difference_dropdown_big {
    width: 34.5vw;
    padding: 1.56vw;
}

.difference_dropdown {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bg-dd {
    background: #221D21;
}

.bg-ac {
    background: #FFFFFF;
}

.difference_frame {
    display: flex;
    gap: 1.04vw;
    align-items: center;
}

.dif-svg {
    width: 4.17vw;
    height: 4.17vw;
}

.dif-bg {
    fill:#F5F5F7 !important;
}

.dif-act {
    fill: #332B31 !important;
}

.dif-cis {
    fill: #332B31 !important;
}

.dif-act-c {
    fill:#F5F5F7 !important;
}

.dif-row {
    width: 1.41vw;
    height: 0.83vw;
}

.dif-row rect {
    fill: #fff;
}

.difference_dropdown_add {
    margin-top: 0.94vw;
    width: 100%;
    
}

.difference_dropdown_add p {
    max-width: 90%;
}

.invs {
    display: none !important;
}

.row-act {
    transform: rotate(180deg);
}

.row-act-crypto {
    transform: rotate(180deg);
}

.row-act rect {
    fill: #332B31 !important;
}

.function_blocks {
    display: grid;
    grid-template-rows: 26.30vw 26.30vw 26.30vw;
    gap: 1.04vw;
}

.func_big {
    width: 41.98vw;
}

.func_mid {
    width: 35.83vw; 
}

.func_mini {
    width: 29.69vw;
}

.function_block_step {
    display: flex;
    height: 100%;
    gap: 1.04vw;
}

.func {
    height: 100%;
}

#f1 {
    background: url('./img/func1.png');
    background-repeat: repeat;
    background-size: cover;
}

#f2 {
    background: url('./img/func2.png');
    background-repeat: repeat;
    background-size: cover;
}

#f3 {
    background: url('./img/func3.png');
    background-repeat: repeat;
    background-size: cover;
}

#f4 {
    background: url('./img/func4.png');
    background-repeat: repeat;
    background-size: cover;
}

#f5 {
    background: url('./img/func5.png');
    background-repeat: repeat;
    background-size: cover;
}

#f6 {
    background: url('./img/func6.png');
    background-repeat: repeat;
    background-size: cover;
}

.func_block {
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 1.56vw;
}

.link {
    color: #066ECA;
    text-decoration: underline;
    text-align: center;
    display: block;
}

.blue-font {
    color: #066ECA;
}

.earn {
    margin-top: 9.38vw;
    display: flex;
    flex-direction: column;
    gap: 1.67vw;
    align-items: center;
}

.t-center {
    text-align: center;
    text-transform: uppercase;
}

.swiper {
    height: 100%;
    width: 100%;
}

.earn_block_top {
    width: 12.29vw;
    height: 12.29vw;
    position: relative;
}

#earn1 {
    background: url('./img/earn1.png');
    background-repeat: no-repeat;
    background-size: contain;
}

#earn2 {
    background: url('./img/earn2.png');
    background-repeat: no-repeat;
    background-size: contain;
}

#earn3 {
    background: url('./img/earn3.png');
    background-repeat: no-repeat;
    background-size: contain;
}

#earn4 {
    background: url('./img/earn4.png');
    background-repeat: no-repeat;
    background-size: contain;
}

#earn5 {
    background: url('./img/earn5.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.earn-row {
    position: absolute;
    top: 10vw;
    right: 1.56vw;
}

.earn_block_bottom {
    margin-top: 1.46vw;
    display: flex;
    flex-direction: column;
    gap: 0.63vw;
}

.green-font {
    color: #06CA29;
}

.swiper-buttons {
    display: flex;
    justify-content: end;
    gap: 1.67vw;
    width: 100%;
}

.next,
.next-team  {
    transform: rotate(270deg) !important;
}

.prev,
.prev-team {
    transform: rotate(90deg);
}

.review{
    margin-top: 9.38vw;
}

.reviews {
    /* width: 100vw; */
    margin-top: 1.67vw;
    /* position: absolute; */
  left: 0;
}

.review_container {
    align-items: center;
    margin: 0 auto;
}

.review_content {
    padding: 1.04vw 0;
    display: flex;
    justify-content: space-between;
}

/* .review_block {
    position: absolute;
  display: contents;
} */

.review_close {
    height: 8.13vw;
    overflow: hidden;
}

.review-img {
    width: 23.54vw;
    height: 22.66vw;
    border: 2px solid #272727
}

.mw-334 {
    max-width: 17.40vw;
}

.tarif {
    margin-top: 9.38vw;
}

.tarifs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.04vw;
    margin-top: 1.67vw;
}

.tarif_block {
    background: url('./img/tarif_bg.png');
    width: 35.83vw;
    height: 20.68vw;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 1.67vw 1.67vw 0vw 1.67vw;
    display: flex;
    flex-direction: column;
    gap: 0.94vw;
}

.tarif_top {
    width: 32.71vw;
    height: 12.55vw;
    background: url('./img/tarif_top.png');
    background-repeat: no-repeat;
    background-size: contain;
    padding: 1.56vw;
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 1.67vw;
}

.tarif_price {
    display: flex;
    flex-direction: column;
    gap: 0.94vw;
    align-items: center;
}

.tarif_line {
    width: 15.63vw;
    height: 0.10vw;
    background: #000000;
}

.tarif_btn {
    background: url('./img/tarif_btn.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4.06vw;
    border: none;
}   

.mw-288 {
    width: 15vw;
}

.team {
    margin-top: 9.38vw;
    padding-bottom: 4.06vw;
    position: relative;
}

.team_swiper {
    margin-top: 4.74vw;
}

.team_img {
    width: 11.25vw;
    height: 11.25vw;
    opacity: 0.6;
}

.swiper-slide-active img {
    transform: scale(1.5);
    opacity: 1;
}

.team_slide_add {
    margin-left: -3vw;
    margin-top: 4.53vw;
    display: none;
    flex-direction: column;
    gap: 0.63vw;
    width: 24.79vw;
}

.swiper-slide-active .team_slide_add {
    display: flex;
}

.team-buttons {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    gap: 1.67vw;
}