* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'proxima-r';
    src: url('./fonts/proximanova_regular.ttf');
}

@font-face {
    font-family: 'pixel-b';
    src: url('./fonts/pixel-ultima-bold.ttf');
}

@font-face {
    font-family: 'inter-r';
    src: url('./fonts/Inter-Regular.ttf');
}

a {
    text-decoration: none;
}

p {
    margin-bottom: 0;
}

body {
    overflow-x: hidden;
}

.container {
    width: 72.71vw;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.top_section {
    background: url('./img/main.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 46.72vw;
    width: 100vw;

}

.header {
    padding: 1.15vw 0;
    margin-bottom: 5.94vw;
}

.header_container {
    position: relative;
    align-items: center;
    justify-content: center;
    gap: 2.08vw;
}

.logo {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 3.13vw;
    height: 3.13vw;
    left: 0;
}

.inter-r {
    font-family: 'inter-r';
    font-weight: 400;
}

.font-24 {
    font-size: 1.25vw;
}

.font-60 {
    font-size: 3.13vw;
}

.font-32 {
    font-size: 1.67vw;
}

.font-28 {
    font-size: 1.46vw;
}

.font-20 {
    font-size: 1.04vw;
}

.font-36 {
    font-size: 1.88vw;
}

.font-72 {
    font-size: 3.75vw;
}

.lh-36 {
    line-height: 1.88vw;
}

.black-font {
    color: black;
}

.white-font {
    color: #fff;
}

.lh-28 {
    line-height: 1.46vw;
}

.lh-60 {
    line-height: 3.13vw;
}

.lh-24 {
    line-height: 1.25vw;
}

.lh-72 {
    line-height: 3.75vw;
}

.mt-20 {
    margin-top: 1.04vw;
}

.proxima-r {
    font-family: 'proxima-r';
    font-weight: 400;
}

.header_btn {
    background: url('./img/header_btn.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0.73vw 1.66vw;
    border: none;
}

.pixel-b {
    font-family: 'pixel-b';
    font-weight: 700;
}

.font-66 {
    font-size: 3.44vw;
    line-height: 3.44vw;
}

.header_main {
    text-transform: uppercase;
}

.main_btn {
    border: none;
    background: url('./img/main_btn.png');
    background-size: contain;
    margin-top: 1.67vw;
    margin-bottom: 2.71vw;
    padding: 1.30vw 8.54vw;
    background-repeat: round;
}

.row_btn {
    border-radius: 50%;
    background: #333336;
    width: 3.33vw;
    height: 3.33vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.row_btn img {
    height: 1.04vw;
    width: 1.77vw;
}

.home_section {
    background: #000;
    padding-bottom: 19.69vw;
}

.short_info {
    display: flex;
    justify-content: space-between;
    padding-top:  6.25vw;
    margin-bottom: 9.38vw;
    align-items: start;
}

.short_info p {
    max-width: 50%;
}

.difference {
    margin-bottom: 9.38vw;
}

.difference_dropdowns {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.67vw;
    gap: 1.04vw;
}

.difference-left,
.difference-right {
    display: flex;
    flex-direction: column;
    gap: 1.04vw;
}

.difference_dropdown_big {
    width: 34.5vw;
    padding: 1.56vw;
}

.difference_dropdown {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bg-dd {
    background: #221D21;
}

.bg-ac {
    background: #FFFFFF;
}

.difference_frame {
    display: flex;
    gap: 1.04vw;
    align-items: center;
}

.dif-svg {
    width: 4.17vw;
    height: 4.17vw;
}

.dif-bg {
    fill:#F5F5F7 !important;
}

.dif-act {
    fill: #332B31 !important;
}

.dif-cis {
    fill: #332B31 !important;
}

.dif-act-c {
    fill:#F5F5F7 !important;
}

.dif-row {
    width: 1.41vw;
    height: 0.83vw;
}

.dif-row rect {
    fill: #fff;
}

.difference_dropdown_add {
    margin-top: 0.94vw;
    width: 100%;
    
}

.difference_dropdown_add p {
    max-width: 90%;
}

.invs {
    display: none !important;
}

.row-act {
    transform: rotate(180deg);
}

.row-act-crypto {
    transform: rotate(180deg);
}

.row-act rect {
    fill: #332B31 !important;
}

.function_blocks {
    display: grid;
    grid-template-rows: 26.30vw 26.30vw 26.30vw;
    gap: 1.04vw;
}

.func_big {
    width: 41.98vw;
}

.func_mid {
    width: 35.83vw; 
}

.func_mini {
    width: 29.69vw;
}

.function_block_step {
    display: flex;
    height: 100%;
    gap: 1.04vw;
}

.func {
    height: 100%;
}

#f1 {
    background: url('./img/func1.png');
    background-repeat: repeat;
    background-size: cover;
}

#f2 {
    background: url('./img/func2.png');
    background-repeat: repeat;
    background-size: cover;
}

#f3 {
    background: url('./img/func3.png');
    background-repeat: repeat;
    background-size: cover;
}

#f4 {
    background: url('./img/func4.png');
    background-repeat: repeat;
    background-size: cover;
}

#f5 {
    background: url('./img/func5.png');
    background-repeat: repeat;
    background-size: cover;
}

#f6 {
    background: url('./img/func6.png');
    background-repeat: repeat;
    background-size: cover;
}

.func_block {
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 1.56vw;
}

.link {
    color: #066ECA;
    text-decoration: underline;
    text-align: center;
    display: block;
}

.blue-font {
    color: #066ECA;
}

.earn {
    margin-top: 9.38vw;
    display: flex;
    flex-direction: column;
    gap: 1.67vw;
    align-items: center;
}

.t-center {
    text-align: center;
    text-transform: uppercase;
}

.swiper {
    height: 100%;
    width: 100%;
}

.earn_block_top {
    width: 12.29vw;
    height: 12.29vw;
    position: relative;
}

#earn1 {
    background: url('./img/earn1.png');
    background-repeat: no-repeat;
    background-size: contain;
}

#earn2 {
    background: url('./img/earn2.png');
    background-repeat: no-repeat;
    background-size: contain;
}

#earn3 {
    background: url('./img/earn3.png');
    background-repeat: no-repeat;
    background-size: contain;
}

#earn4 {
    background: url('./img/earn4.png');
    background-repeat: no-repeat;
    background-size: contain;
}

#earn5 {
    background: url('./img/earn5.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.earn-row {
    position: absolute;
    top: 10vw;
    right: 1.56vw;
}

.earn_block_bottom {
    margin-top: 1.46vw;
    display: flex;
    flex-direction: column;
    gap: 0.63vw;
}

.green-font {
    color: #06CA29;
}

.swiper-buttons {
    display: flex;
    justify-content: end;
    gap: 1.67vw;
    width: 100%;
}

.next,
.next-team  {
    transform: rotate(270deg) !important;
}

.prev,
.prev-team {
    transform: rotate(90deg);
}

.review{
    margin-top: 9.38vw;
}

.reviews {
    /* width: 100vw; */
    margin-top: 1.67vw;
    /* position: absolute; */
  left: 0;
}

.review_container {
    align-items: center;
    margin: 0 auto;
}

.review_content {
    padding: 1.04vw 0;
    display: flex;
    justify-content: space-between;
}

/* .review_block {
    position: absolute;
  display: contents;
} */

.review_close {
    height: 8.13vw;
    overflow: hidden;
}

.review-img {
    width: 23.54vw;
    height: 22.66vw;
    border: 2px solid #272727
}

.mw-334 {
    max-width: 17.40vw;
}

.tarif {
    margin-top: 9.38vw;
}

.tarifs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.04vw;
    margin-top: 1.67vw;
}

.tarif_block {
    background: url('./img/tarif_bg.png');
    width: 35.83vw;
    height: 20.68vw;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 1.67vw 1.67vw 0vw 1.67vw;
    display: flex;
    flex-direction: column;
    gap: 0.94vw;
}

.tarif_top {
    width: 32.71vw;
    height: 12.55vw;
    background: url('./img/tarif_top.png');
    background-repeat: no-repeat;
    background-size: contain;
    padding: 1.56vw;
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 1.67vw;
}

.tarif_price {
    display: flex;
    flex-direction: column;
    gap: 0.94vw;
    align-items: center;
}

.tarif_line {
    width: 15.63vw;
    height: 0.10vw;
    background: #000000;
}

.tarif_btn {
    background: url('./img/tarif_btn.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4.06vw;
    border: none;
}   

.mw-288 {
    width: 15vw;
}

.team {
    margin-top: 9.38vw;
    padding-bottom: 4.06vw;
    position: relative;
}

.team_swiper {
    margin-top: 4.74vw;
}

.team_img {
    width: 11.25vw;
    height: 11.25vw;
    opacity: 0.6;
}

.swiper-slide-active img {
    transform: scale(1.5);
    opacity: 1;
}

.team_slide_add {
    margin-left: -3vw;
    margin-top: 4.53vw;
    display: none;
    flex-direction: column;
    gap: 0.63vw;
    width: 24.79vw;
}

.swiper-slide-active .team_slide_add {
    display: flex;
}

.team-buttons {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    gap: 1.67vw;
}

.partner {
    margin-top: 9.38vw;
}

.partners {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 17.40vw 17.40vw;
    gap: 1.04vw;
    margin-top: 1.67vw;
}

#partner-1 {
    background: url('./img/partner-1.png');
}

#partner-2 {
    background: url('./img/partner-2.png');
}

#partner-3 {
    background: url('./img/partner-3.png');
}

#partner-4 {
    background: url('./img/partner-4.png');
}

#partner-5 {
    background: url('./img/partner-5.png');
}

#partner-6 {
    background: url('./img/partner-6.png');
}

#partner-7 {
    background: url('./img/partner-7.png');
}

#partner-8 {
    background: url('./img/partner-8.png');
}

.partner_block {
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.answears {
    margin-top: 9.38vw;
}

.answears-blocks {
    margin-top: 1.67vw;
    display: flex;
    flex-direction: column;
    gap: 1.04vw;
}

.answears_dropdown_big {
    width: 100%;
}

.footer {
    background: #000000;
}

.footer_container {
    padding: 3.02vw 16.15vw 7.14vw 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_logo {
    width: 3.13vw;
    height: 3.13vw;
}

.social_block {
    display: flex;
    flex-direction: column;
    gap: 1.46vw;
}

.social_blocks {
    display: flex;
    gap: 3.13vw;
}

.difference_mobile {
    display: none;
}

.reviews_mobile {
    display: none;
}

.menu {
    display: none;
}

.hamburger {
    display: none;
}

@media (max-width: 769px) {
    .container {
        width: 95.31vw;
    }

    .top_section {
        background: url('./img/bg-lap.png');
        min-height: 133.59vw;
        background-position: bottom;
    }


.logo {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 3.13vw;
    height: 3.13vw;
    left: 0;
}

.inter-r {
    font-family: 'inter-r';
    font-weight: 400;
}

.font-24 {
    font-size: 3.13vw;
}

.font-60 {
    font-size: 4.69vw;
}

.font-32 {
    font-size: 4.17vw;
}

.font-28 {
    font-size: 2.34vw;
}

.font-20,
.font-20-l {
    font-size: 1.7vw;
}

.font-36 {
    font-size: 2.69vw;
}

.font-72 {
    font-size: 7.03vw;
}

.lh-36 {
    line-height: 4.69vw;
}


.lh-28 {
    line-height: 3.65vw;
}

.lh-60 {
    line-height: 7.81vw;
}

.lh-24 {
    line-height: 3.13vw;
}

.lh-72 {
    line-height: 7.38vw;
}

.mt-20 {
    margin-top: 2.60vw;
}

.font-66 {
    font-size: 8.39vw;
    line-height: 10.59vw;
}

.top_section .row_btn {
    display: none;
}

.main_btn {
    background-size: cover;
  margin-top: 1.67vw;
  margin-bottom: 2.71vw;
  padding: 4.3vw 8.54vw;
  background-repeat: no-repeat;
  width: 100%;
}

.logo {
    width: 7.13vw;
    height: 7.13vw;
  }

  .header_btn {
    padding: 1.73vw 3.66vw;
}

.difference_dropdowns {
    gap: 2.04vw;
  justify-content: center;
}

.difference_dropdown_big {
    width: 46.5vw;
}

.dif-svg {
    width: 5.99vw;
    height: 5.99vw;
  }


  #f1 {
    background: url('./img/func1-l.png');
    background-repeat: repeat;
    background-size: cover;
}

#f2 {
    background: url('./img/func2-l.png');
    background-repeat: repeat;
    background-size: cover;
}

#f3 {
    background: url('./img/func3-l.png');
    background-repeat: repeat;
    background-size: cover;
}

#f4 {
    background: url('./img/func4-l.png');
    background-repeat: repeat;
    background-size: cover;
}

#f5 {
    background: url('./img/func5-l.png');
    background-repeat: repeat;
    background-size: cover;
}

#f6 {
    background: url('./img/func6-l.png');
    background-repeat: repeat;
    background-size: cover;

}

.func_big,
.func_mid ,
.func_mini {
    width: 50%;
    border-bottom: 0.5vw solid #383838;
}

.function_blocks {
    grid-template-rows: 66vw 66vw 66vw ;
    gap: 2.03vw;
  }

  .earn_block_top {
    width: 30.73vw;
    height: 30.73vw;
    position: relative;
  }

  .dif-row {
    width: 2.86vw;
    height: 1.69vw;
  }

  .earn-row {
    top: 27vw;
  }

  .row_btn {
    width: 5.86vw;
    height: 5.86vw;
  }

  .mw-334 {
    max-width: 30.86vw;
  }

  .tarif_block {
    width: 46.88vw;
    height: 35.94vw;
  }

  .tarif_top {
    width: 100%;
    height: 17.83vw;
    gap: 0;
  }

  .tarif_price {
    gap: 0.5vw;
  }

  .tarif_btn {
    height: 5.56vw;
  }

  .team_img {
    width: 22.66vw;
    height: 22.66vw;
  }

  .team_slide_add {
    margin-top: 6.53vw;
  }

  .partners {
    grid-template-rows: 22.4vw 22.4vw;
  }

  .difference_dropdown_big {
    width: 100%;
  }

  .footer_logo {
    width: 6.13vw;
    height: 6.13vw;
  }
}


@media (max-width: 400px) {
    .top_section {
        background: url('./img/bg-ph.png');
        min-height: 145.06vw;
        background-position: bottom;
    }
    
    .container {
        width: 93.31vw;
      }

      .font-66 {
        font-size: 7.39vw;
        line-height: 9.59vw;
      }

      .header {
        padding: 1.15vw 0;
        margin-bottom: 14.94vw;
      }

      .main_btn {
        margin-top: 4.67vw;
        background-size: contain;
        padding: 3.3vw 0;
      }

      .font-24 {
        font-size: 5.13vw;
      }
      
      .short_info {
        padding-top: 22.22vw;
        flex-direction: column;
        margin-bottom: 27.78vw;
      }

      .font-60 {
        font-size: 6.67vw;
        line-height: 6.67vw;
      }

      .short_info p {
        max-width: 100%;
      }

      .font-20-l {
        font-size: 5.56vw;
      }

      .difference-left,
      .difference-right {
        display: none;
      }

      .difference_mobile {
        display: flex;
        flex-direction: column;
        gap: 2.78vw;
        width: 100%;
      }

      .font-28 {
        font-size: 4.44vw;
      }

      .lh-28 {
        line-height: 4.44vw;
      }

      .dif-svg {
        width: 10.56vw;
        height: 10.56vw;
      }

      .font-20 {
        font-size: 4.44vw;
      }

      .lh-24 {
        line-height: 5vw;
      }

      .function_blocks {
        grid-template-rows: 300vw 300vw 300vw;
        gap: 2.03vw;
      }

      .function_block_step {
        display: flex;
        flex-direction: column;
      }

      .func_big, .func_mid, .func_mini {
        width: 100%;
        border: 0.5vw solid #383838;
        background-position: center !important;
    background-position-y: initial !important;
      }

      .func_block {
        height: 149.44vw;
      }

      #f1 {
        background: url('./img/func1-p.png');
        background-size: cover;
    }
    
    #f2 {
        background: url('./img/func2-p.png');
        background-size: cover;
    }
    
    #f3 {
        background: url('./img/func3-p.png');
        background-size: cover;
    }
    
    #f4 {
        background: url('./img/func4-p.png');
        background-size: cover;
    }
    
    #f5 {
        background: url('./img/func5-p.png');
        background-size: cover;
    }
    
    #f6 {
        background: url('./img/func6-p.png');
        background-size: cover;
    
    }

    .func_block {
        padding: 4.44vw;
        
      }

      .earn {
        margin-top: 27.78vw;
      }

      .t-center {
        text-align: start;
      }

      .earn_block_top {
        width: 62.78vw;
        height: 62.78vw;
      }

      .earn_block_bottom {
        width: 62.78vw;
        height: 62.78vw;
        margin-top: 5vw;
      }

      .earn-row {
        top: 57vw;
      }
      .dif-row {
        width: 5.56vw;
        height: 3.33vw;
      }

      .row_btn {
        width: 9.86vw;
        height: 9.86vw;
      }

      .row_btn img {
        width: 5.56vw;
        height: 3.33vw;
      }

      .review {
        margin-top: 27.78vw;
      }

      .reviews_mobile {
        margin-top: 4.44vw;
        display: block;
      }

      .review_slide {
        width: 83.33vw;
        height: 125.28vw;
        padding: 4.44vw;
        display: flex;
        flex-direction: column;
        gap: 3.33vw;
        background: #fff;
      }

      .box {
        position: relative;
        width: 100%;
        min-height: 21.11vw !important;
        overflow: hidden;
        border: 2px solid #272727
      }

      .review-img {
        bottom: -25vw;
        position: absolute;
        object-position: center;
        width: 100%;
        height: auto;
      }

      .font-36 {
        font-size: 5vw;
      }

      .reviews {
        display: none;
      }

      .tarif {
        margin-top: 27.78vw;
      }

      .tarifs {
        grid-template-columns: 1fr;
        gap: 1.04vw;
        margin-top: 1.67vw;
      }

      .tarif_block {
        width: 100%;
        height: 64.44vw;
      }

      .tarif_top {
        width: 100%;
        height: 36.83vw;
        gap: 0;
      }

      .tarif_btn {
        height: 11.56vw;
      }

      .t-center-new {
        text-align: center;
      }

      .font-72 {
        font-size: 11.03vw;
      }

      .lh-72 {
        line-height: 19.38vw;
      }

      .swiper-slide-active img {
        transform: scale(1);
        opacity: 1;
      }

      .team_swiper .swiper-slide-active img {
        transform: scale(1.5) !important;
        opacity: 1;
      }

      .team_img {
        width: 51.11vw;
        height: 51.11vw;
      }

      .team_slide_add {
        margin-left: 0;
        margin-top: 18.53vw;
        display: none;
        flex-direction: column;
        gap: 0.63vw;
        width: 100%;
      }

      .team-buttons {
        position: absolute;
        bottom: -12vw;
        right: 0;
        display: flex;
        gap: 1.67vw;
      }

      .partner {
        margin-top: 33.33vw;
      }

      .partners {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 28.89vw 28.89vw 28.89vw;
      }

      .answears {
        margin-top: 27.78vw;
      }

      .footer_container {
        padding: 3.02vw 16.15vw 7.14vw 0;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 4.44vw;
      }

      .footer_logo {
        width: 11.11vw;
        height: 11.11vw;
      }

      .social_block {
        gap: 4.44vw;
      }

      .social_blocks {
        display: flex;
        flex-direction: column;
        gap: 4.44vw;
      }

      .logo {
        width: 10.13vw;
        height: 10.13vw;
      }

      .head-d {
        display: none;
      }

      .hamburger {
        z-index: 100;
        top: 1rem;
        right: 1rem;
        padding: 4px;
        border: black solid 1px;
        background: white;
        cursor: pointer;
        background: none;
        border: none;
      }

      .closeIcon {
        display: none;
      }
      
      .menu {
        position: absolute;
        transform: translateY(-100%);
        transition: transform 0.2s;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 99;
        background: white;
        height: 38.61vw;
        color: white;
        list-style: none;
        padding-top: 4rem;
        width: 100vw;
      }

      .showMenu {
        transform: translateY(0);
      }
      
      .burger-menu {
        display: flex;
        flex-direction: column;
        gap: 2.81vw;
      }

      .burger-menu-mini {
        display: flex;
        gap: 2.81vw;
        align-items: center;
      }
      
      .burger-menu-mini img {
        width: 1.58vw;
        height: 2.64vw;
      }

      .font-b {
        font-size: 3.16vw;
      }

      .header_container {
        justify-content: end;
      }

      .hamburger {
        display: block;
      }

      .menu {
        display: block;
      }
    }
